body{
    overflow-y: hidden;
    max-height: 100%;
}

app-landingpage{
    position: relative;
    max-width: 1440px;
    width: 100%;
    left: 0;
}

app-whyme{
    position: relative;
    max-width: 1440px;
    width: 100%;
    left: 1440px;
    background-color: aliceblue;
}