body{
    overflow-y: hidden;
    max-height: 100%;
    background-color: black;
    scroll-behavior: smooth;
}

app-landingpage{
    position: relative;
    max-width: 1440px;
    width: 100%;
    left: 0;
    height: 100vh;
    background-color: black;
}

app-whyme{
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    background-color: black;
}

app-myskillset{
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    background-color: black;
}