body {
    overflow-y: hidden;
    max-height: 100%;
    background-color: black;
    scroll-behavior: smooth;
}

app-landingpage {
    position: relative;
    max-width: 1440px;
    width: 100%;
    left: 0;
    height: 100vh;
    background-color: black;
}

app-whyme {
    position: relative;
    max-width: 1440px;
    width: 1100px;
    height: 100vh;
    background-color: black;
}

app-myskillset {
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    background-color: black;
}

app-projects {
    position: relative;
    width: calc(2929px + 100px + 367px);
    height: 100vh;
    background-color: black;
}

app-contact {
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    background-color: black;
}

app-references {
    position: relative;
    max-width: 1440px;
    min-width: 880px;
    height: 100vh;
    background-color: black;
}

app-contactform {
    width: 1081px;
    height: 100vh;
    background-color: black;
    position: relative;
    max-width: 1440px;
}

app-footer {
    width: 100px;
    max-width: 100px;
    position: relative;
    height: 100vh;
}

@media only screen and (orientation:portrait) {
    body {
        display: flex;
        overflow-x: hidden;
        background-color: black;
        scroll-behavior: smooth;
        max-width: 100vw;
    }

    app-landingpage {
        position: relative;
        background-color: black;
    }

    app-whyme {
        position: relative;
        background-color: black;
        max-width: 100%;
        overflow-y: visible;
    }

    app-myskillset {
        position: relative;
        background-color: black;
    }

    app-projects {
        position: relative;
        max-width: 100%;
        height: max-content;
        background-color: black;
    }

    app-contact {
        position: relative;


        background-color: black;
    }

    app-references {
        position: relative;



        background-color: black;
    }

    app-contactform {

        background-color: black;
        position: relative;

    }

    app-footer {
        width: 100px;
        max-width: 100px;
        position: relative;
        height: 100vh;
    }
}