
<div class="header">
  <div class="social-wrapper">
      <a href="mailto:kontakt@david-kolosza.de"><img src="../../../../assets/img/mailicon.png"></a>
      <a target="_blank" href="https://www.linkedin.com/in/david-kolosza-59745b2b1/"><img src="../../../../assets/img/linkedinicon.png"></a>
      <a target="_blank" href="https://github.com/DosKolossos"><img src="../../../../assets/img/githubicon.png"></a>
  </div>

  <div class="languages">
    <p (click)="changeLanguage('en')" [class.active]="currentLanguage === 'en'">EN</p><p>|</p>
    <p (click)="changeLanguage('de')" [class.active]="currentLanguage === 'de'">DE</p><p *ngIf="contactMeUsed">|</p>
    <p (click)="changeLanguage('lol')" [class.active]="currentLanguage === 'lol'" *ngIf="contactMeUsed">LOL</p>
</div>

</div>