<div class="header">
    <div class="social-wrapper">
        <a target="_blank" href="https://google.com"><img src="../../../../assets/img/mailicon.png"></a>
        <a target="_blank" href="https://www.linkedin.com/in/david-kolosza-59745b2b1/"><img src="../../../../assets/img/linkedinicon.png"></a>
        <a target="_blank" href="https://github.com/DosKolossos"><img src="../../../../assets/img/githubicon.png"></a>
    </div>
    <div class="languages">
        <p id="languageDe">DE</p>
        <p>|</p>
        <p id="languageEn">EN</p>
    </div>
</div>