.contactme-wrapper {
    display: flex;
    width: 565px;
    height: 530px;
    top: 156px;
    position: relative;
    font-family: 'Quantico';
    text-wrap: wrap;

    >.privacy-content {
        position: absolute;
        display: flex;
        z-index: 999;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #242f0b;
        border-radius: 16px;
        border: none;
        padding: 20px 20px 20px 20px;

        >.content-scroller {
            display: flex;
            width: 100%;
            height: 100%;
            background-color: #D3ED97;
            border-radius: 16px;
            overflow-y: scroll;
            text-wrap: wrap;
            padding: 8px;
            flex-direction: column;
        }

        >.button-wrapper {
            display: flex;
            justify-content: center;
            flex: 1;
            width: 100%;
            height: 100%;

            >button {

                position: relative;
                top: 8px;
                background-color: transparent;
                justify-content: center;
                color: white;
                padding: 13px 30px 13px 30px;
                font-family: 'Quantico';
                border-radius: 30px;
                border: #B5E93B solid 1px;
                width: max-content;
                cursor: pointer;

                &:hover {
                    background-color: #D3ED9733;
                    font-family: 'Quantico';
                    border-radius: 30px;
                    border: #B5E93B solid 1px;
                }
            }
        }
    }

    >.success-window {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #242f0b;
        z-index: 999;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        border: none;
        justify-content: center;
        text-align: start;
        color: #B5E93B;
        gap: 35px;
        padding: 20px;

        >.success-message {
            display: flex;
            font-size: 32px;
            margin: 20px;
        }

        >span {
            font-size: 24px;
            color: white;
            margin: 20px;
        }

        >.button-wrapper {
            display: flex;
            justify-content: center;

            >button {
                background-color: transparent;
                justify-content: center;
                color: white;
                padding: 13px 30px 13px 30px;
                font-family: 'Quantico';
                border-radius: 30px;
                border: #B5E93B solid 1px;
                width: max-content;
                cursor: pointer;

                &:hover {
                    background-color: #D3ED9733;
                    font-family: 'Quantico';
                    border-radius: 30px;
                    border: #B5E93B solid 1px;
                }
            }
        }
    }


    >.form-wrapper {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 456px;
        height: 407px;
        color: #D3ED97;
    }
}

.headline {
    position: absolute;
    width: 303px;
    height: 65px;
    display: flex;
    font-size: 54px;
    font-family: 'Quantico';
    top: 181px;
    -webkit-text-stroke: 3px #B5E93B;
    color: transparent;
    transform: translateX(-44%) translateY(132%) rotate(-90deg);
}

.is-invalid {
    border: 2px solid red !important;
    color: red;
}

.form-group input.is-invalid::placeholder,
.form-group textarea.is-invalid::placeholder {
    color: red;
    /* Placeholder-Farbe für ungültige Felder */
    filter: opacity(1);
}

.form-group {
    display: flex;
    flex-direction: column;
}

::placeholder {
    color: #D3ED97;
    font-family: 'Quantico';
    font-weight: 400;
    border: none;
    filter: opacity(0.4);
}

.error-message {
    color: red;
}

#contactMe {
    position: absolute;
    top: 0;
}

span {
    position: relative;
    display: flex;
    padding: 0;
    bottom: 0;
}



.subtext {
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 665px;
    top: 152px;
    position: absolute;
    font-family: 'Quantico';
    font-size: 18px;
    font-weight: 400;
    color: #FFFDFD;
    justify-content: space-between;
    text-align: right;
    text-wrap: wrap;
    align-items: end;
    right: 20px;

    >.arrow-positioner {
        display: flex;
        position: relative;
        width: fit-content;
        >a {
            display: flex;
            position: relative;
            top: 0 !important;

            .arrow-right {
                display: flex;
                cursor: pointer;
                position: relative;
                width: 107px;
                height: 30px;
                transform: scaleX(-1);

                &:hover {
                    transition: 0.3s;
                    transform: scaleX(-1) scale(1.2);
                    filter: brightness(5);
                }

                &:not(:hover) {
                    transition: 0.3s;
                    transform: scaleX(-1) scale(1.0);
                    filter: brightness(1);
                }
            }
        }
    }

    >.text-summary {
        display: flex;
        flex-direction: column;
        gap: 32px;

        >.green-font {
            color: #D3ED97;
            width: 100%;
            display: flex;
            justify-content: end;
        }

        >.subtext-row {
            position: relative;
            display: flex;
            gap: 8px;
            justify-content: flex-end;
            align-items: center;

            >span {
                gap: 8px;

                >a {
                    text-decoration: none;
                    color: #FFFDFD;

                    &:hover {
                        color: #B5E93B;
                    }
                }
            }

            >.mail-icon {
                width: 14.47px;
                height: 17.75px;
            }

            >.phone-icon {
                width: 14.39px;
                height: 15.86px;
            }
        }
    }


    >.imprint {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 101px;
        text-align: right;
        gap: 8px;
        bottom: 0;
        right: 0;

        >a {
            text-decoration: none;
            color: #FFFDFD;
            transition: color 0.3s ease; // Übergang für die Farbe

            &:hover {
                color: #B5E93B; // Farbe nach Hover
            }

            &:after {
                content: "";
                display: block;
                width: 0;
                height: 1px;
                background: #B5E93B; // Unterstreichungseffektfarbe
                transition: width 0.3s ease; // Sanfter Übergang für die Breite
            }

            &:hover:after {
                width: 100%; // Unterstreichung erscheint mit Verzögerung
            }
        }
    }

}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 456px;
    height: 60px;
    padding-left: 20px;
    /* Some padding */
    border: 1px solid #B5E93B;
    /* Gray border */
    border-radius: 30px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    background: none;
    color: #D3ED97;
    font-size: 14px;
}

input[type=email],
select,
textarea {
    width: 456px;
    height: 60px;
    padding-left: 20px;
    /* Some padding */
    border: 1px solid #B5E93B;
    /* Gray border */
    border-radius: 30px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: black;
    color: #D3ED97;
}

textarea {
    height: 255px;
    padding-top: 24px;
    background-color: none;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    display: flex;
    position: relative;
    width: 94px;
    height: 43px;
    border-radius: 30px;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

input:focus {
    border: 1px solid #B5E93B;
    /* Gray border */
    border-radius: 30px;
    outline: none;
    /* Entfernt den blauen Standard-Glow */
}

input:not(:placeholder-shown) {
    background-color: transparent;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.privacy-policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 407px;
    height: 107px;

    .top-row {
        display: flex;
        gap: 12px;

        >label {
            width: 100%;
            font-size: 14px;
        }

        a {
            color: #FFFDFD;
            transition: color 0.3s ease; // Übergang für die Farbe

            &:hover {
                text-decoration: underline !important;
            }

            &:not(:hover) {
                text-decoration: none !important;
            }
        }
    }

    >.error-message-wrapper {
        display: flex;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        font-size: 14px;

        >span {
            position: relative;
            left: 31px;
        }
    }

    .submit-wrapper {
        display: flex;
        position: relative;
        justify-content: flex-end;
        width: 100%;
        right: 0;
    }

}

.submit-button {
    display: flex;
    width: 94px;
    height: 43px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-family: 'Quantico';
    background-color: #9E9D9D;
    color: #4A4A4A;
    border: none;
}

.active {
    background-color: #B5E93B !important;
    color: black;
    cursor: pointer;
}

@media only screen and (orientation:portrait) {

    #contactMe {
        position: relative;
        top: -128px;
    }

    .arrow-right {
        display: none;
    }

    .headline {
        position: absolute;
        width: fit-content;
        height: 65px;
        display: flex;
        font-size: 32px;
        -webkit-text-stroke: 1px #B5E93B;
        color: transparent;
        left: 26px;
        top: -51px;
        transform: translateX(0%) translateY(0%) rotate(0deg);
    }

    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .contactme-wrapper {
        display: flex;
        width: 100%;
        height: max-content;
        top: 0;
        position: relative;
        font-family: 'Quantico';
        text-wrap: wrap;
        flex-direction: column;
        >.success-window {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: #242f0b;
            z-index: 999;
            width: 100%;
            height: fit-content;
            border-radius: 16px;
            border: none;
            justify-content: center;
            text-align: start;
            color: #B5E93B;
            gap: 35px;
            padding: unset;
    
            >.success-message {
                display: flex;
                font-size: 32px;
                margin: 20px;
            }
    
            >span {
                font-size: 24px;
                color: white;
                margin: 20px;
            }
    
            >.button-wrapper {
                display: flex;
                position: relative;
                justify-content: center;
                bottom: 12px;
                >button {
                    background-color: transparent;
                    justify-content: center;
                    color: white;
                    padding: 13px 30px 13px 30px;
                    font-family: 'Quantico';
                    border-radius: 30px;
                    border: #B5E93B solid 1px;
                    width: max-content;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: #D3ED9733;
                        font-family: 'Quantico';
                        border-radius: 30px;
                        border: #B5E93B solid 1px;
                    }
                }
            }
        }

        >.privacy-content {
            top: 60px;
            position: fixed;
            display: flex;
            z-index: 999;
            height: 80vh;
            width: unset;
            max-width: 100%;
            max-height: 100vh;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #242f0b;
            border-radius: 16px;
            border: none;
            padding: 20px 20px 20px 20px;

            >.content-scroller {
                display: flex;
                width: 100%;
                height: 100%;
                background-color: #D3ED97;
                border-radius: 16px;
                overflow-y: scroll;
                text-wrap: wrap;
                padding: 8px;
                flex-direction: column;
            }

            >.button-wrapper {
                display: flex;
                justify-content: center;
                flex: 1;
                width: 100%;
                height: 100%;

                >button {

                    position: relative;
                    top: 8px;
                    background-color: transparent;
                    justify-content: center;
                    color: white;
                    padding: 13px 30px 13px 30px;
                    font-family: 'Quantico';
                    border-radius: 30px;
                    border: #B5E93B solid 1px;
                    width: max-content;
                    cursor: pointer;

                    &:hover {
                        background-color: #D3ED9733;
                        font-family: 'Quantico';
                        border-radius: 30px;
                        border: #B5E93B solid 1px;
                    }
                }
            }
        }


        >.form-wrapper {
            display: flex;
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            height: 407px;
            color: #D3ED97;
            justify-content: center;

            >.form-overall {
                width: 100%;
                position: relative;

                >.form-group {
                    width: 100%;
                    align-items: center;
                }
            }

        }
    }

    input[type=text],
    select,
    textarea {
        width: 90%;
    }

    input[type=email],
    select,
    textarea {
        width: 90%;
    }

    .subtext {
        width: 90%;
        position: relative;
        right: 0;
        text-align: left;
        left: 26px;
        font-size: 16px;
        height: max-content;
        top: 0;
        padding: 16px 0 16px 0;

        >.text-summary {
            display: flex;
            flex-direction: column;
            gap: 32px;
    
            >.green-font {
                text-align: left;
                justify-content: unset;
            }
    
            >.subtext-row {
                text-align: left;
                justify-content: unset;
    
            }
        }
        >.imprint {
            display: none !important;
        }
        >.arrow-positioner {
            display: none;
            position: relative;
            width: fit-content;
            >a {
                display: flex;
                position: relative;
                top: 0 !important;
    
                .arrow-right {
                    display: flex;
                    cursor: pointer;
                    position: relative;
                    width: 107px;
                    height: 30px;
                    transform: scaleX(-1);
    
                    &:hover {
                        transition: 0.3s;
                        transform: scaleX(-1) scale(1.2);
                        filter: brightness(5);
                    }
    
                    &:not(:hover) {
                        transition: 0.3s;
                        transform: scaleX(-1) scale(1.0);
                        filter: brightness(1);
                    }
                }
            }
        }

    }

    .privacy-policy {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        height: 107px;

        >.top-row {
            padding: 10px;

            >label {
                width: 100%;
                font-size: 14px;
            }

            a {
                color: #FFFDFD;
                transition: color 0.3s ease; // Übergang für die Farbe

                &:hover {
                    text-decoration: underline !important;
                }

                &:not(:hover) {
                    text-decoration: none !important;
                }
            }
        }

        .submit-wrapper {
            padding-right: 32px;
            width: 100%;
        }

    }



}