<div id="whyMe"></div>
<div class="content-wrapper">
    <div class="headline" data-aos="fade-down" data-aos-duration="500" data-aos-delay="500">{{ 'whyMe' | translate }}</div>
    <div class="content-column" data-aos="fade-left" data-aos-duration="500" data-aos-delay="1000">
        <span id="text">
            {{ 'motivation' | translate }}
        </span>
        <div class="content-bottom">
            <span>{{ 'Iam' | translate }}</span>
            <div class="content-bottom-row" >
                <div class="content-row-column" id="location">
                    <div class="located">
                        <img src="../../../assets/img/ellipse.png" class="location-elipse">
                    </div>
                    <span>{{ 'located' | translate }}</span>
                </div>
                <div class="content-row-column" id="openRemote">
                    <div class="remote">
                        <img src="../../../assets/img/signal.png" class="remote-signal">
                    </div>
                    <span class="open-remote">{{ 'openRemote' | translate }}</span>
                </div>
                <div class="content-row-column-bag" id="openRelocate">
                    <div class="bag-wrapper">
                        <div class="bag-grip"><img src="../../../assets/img/baghover.png" alt=""></div>

                        <div class="bag"><img src="../../../assets/img/bag.png" alt=""></div>
                        
                    </div>
                    <span>{{ 'openRelocate' | translate }}</span>
                </div>
            </div>

        </div>
        <div class="button-positioner">
            <a (click)="scrollToElement('contactMe')" class="contact-me">{{ 'contactMe' | translate }}</a>
        </div>
    </div>
</div>
<a (click)="scrollToElement('mySkills')" style="scroll-behavior: smooth;"><img src="../../../assets/img/arrowright.png" class="arrow-right"></a>