<div id="whyMe"></div>
<div class="content-wrapper">
    <div class="headline">{{ 'whyMe' | translate }}</div>
    <div class="content-column">
        <span id="text">
            {{ 'motivation' | translate }}
        </span>
        <div class="content-bottom">
            <span>{{ 'Iam' | translate }}</span>
            <div class="content-bottom-row" >
                <div class="content-row-column" id="location">
                    <div class="located">
                        <img src="../../../assets/img/ellipse.png" class="location-elipse">
                    </div>
                    <span>{{ 'located' | translate }}</span>
                </div>
                <div class="content-row-column" id="openRemote">
                    <div class="remote">
                        <img src="../../../assets/img/signal.png" class="remote-signal">
                    </div>
                    <span class="open-remote">{{ 'openRemote' | translate }}</span>
                </div>
                <div class="content-row-column" id="openRelocate">
                    <div class="relocate">
                    </div>
                    <span>{{ 'openRelocate' | translate }}</span>
                </div>
            </div>
            <a (click)="scrollToElement('contactMe')" class="contact-me">{{ 'contactMe' | translate }}</a>
        </div>
    </div>
</div>
<a (click)="scrollToElement('mySkills')" style="scroll-behavior: smooth;"><img src="../../../assets/img/arrowright.png" class="arrow-right"></a>