.content-wrapper {
    display: flex;
    position: relative;
    width: 835px;
    height: 332px;
    top: 164px;
    left: 59px;

    >.headline {
        position: absolute;

        width: 214px;
        height: 52px;
        display: flex;

        font-family: 'Quantico';
        font-size: 54px;
        -webkit-text-stroke: 3px #B5E93B;
        color: transparent;
        transform: translateX(-44%) translateY(132%) rotate(-90deg);
    }
}


#text {
    width: 708px;
    text-wrap: wrap;
}

.content-column {
    position: relative;
    left: 104px;
    display: flex;
    flex-direction: column;
    width: 900px;
    gap: 30px;

    .button-positioner {
        position: relative;
        display: flex;
        width: 90%;
        justify-content: flex-end;

        >.contact-me {
            cursor: pointer;
            position: relative;
            top: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #B5E93B;
            width: 135px;
            height: 43px;
            border-radius: 30px;
            font-family: 'Quantico';
            font-size: 24px;
            padding: 13px 30px 13px 30px;
            color: black;
            text-decoration: none;

            &:hover {
                background: linear-gradient(#B5E93B, #547800);
            }

            &:active {
                background-color: #9E9D9D;
            }
        }
    }

    >span {
        font-family: 'Quantico';
        font-weight: 400;
        font-size: 18px;
        color: #FFFDFD;
        text-align: justify;
    }
}

.location-elipse {
    position: relative;
    display: flex;
    top: 35px;
    right: 4.5px;
    filter: opacity(0);
}

.remote-signal {
    position: relative;
    display: flex;
    top: 1px;
    right: 0px;
    filter: opacity(0);
    width: 24.17px;
    height: 21.97px;
}

.content-bottom {
    cursor: default;
    display: flex;
    width: 100%;
    height: 130px;
    top: 0;
    position: relative;

    >span {
        font-family: 'Quantico';
        font-weight: 700;
        font-size: 48px;
        color: #B5E93B;
    }

    >.content-bottom-row {
        position: absolute;
        left: 58px;
        top: 65px;
        display: flex;
        gap: 45px;
        width: 758px;
        height: 96px;
        align-items: center;

        >.content-row-column-bag {
            display: flex;
            flex-direction: column;
            height: 96px;
            font-family: 'Quantico';
            text-align: center;
            text-overflow: inherit;
            font-size: 18px;
            color: #FFFDFD;
            gap: 0;
            align-items: center;

            &:hover {
                >.bag-wrapper {
                    >.bag-grip {
                        transition: 0.3s;
                        bottom: 13px;
                    }
                }

                >span {
                    color: #B5E93B;
                }

            }

            &:not(:hover) {
                >.bag-wrapper {
                    >.bag-grip {
                        transition: 0.3s;
                        bottom: 3px;
                    }
                }

            }

            >.bag-wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 147px;
                height: 95px;
                align-items: center;

                >.bag {
                    position: relative;
                    display: flex;
                    z-index: 1;
                    scale: 0.5;
                    bottom: 43px;
                }

                >.bag-grip {
                    display: flex;
                    position: relative;
                    scale: 0.7;
                    bottom: 3px;
                }
            }

            >span {
                position: relative;
                bottom: 25px;
            }
        }

        >.content-row-column {
            display: flex;
            flex-direction: column;
            height: 96px;
            font-family: 'Quantico';
            text-align: center;
            text-overflow: inherit;
            font-size: 18px;
            color: #FFFDFD;
            justify-content: space-between;
            align-items: center;

            >.located {
                cursor: auto;
                position: relative;
                height: 40px;
                width: 32.5px;
                background-position: center;
                background-size: cover;
                background-image: url('../../../assets/img/located.png');
            }

            >.remote {
                position: relative;
                height: 46.99px;
                width: 53.58px;
                background-position: center;
                background-size: cover;
                left: -6px;
                background-image: url('../../../assets/img/remote.png');
            }

        }
    }
}


#location {
    &:hover {
        .location-elipse {
            transition: 0.3s ease-in-out;
            filter: opacity(1);
        }

        color: #B5E93B;
    }

    &:not(:hover) {
        .location-elipse {
            transition: 0.3s ease-in-out;
        }

        transition: 0.3s;
    }
}

#openRemote {
    &:hover {
        .remote-signal {
            transition: 0.3s ease-in-out;
            filter: opacity(1);
        }

        .open-remote {
            color: #B5E93B;
        }
    }

    &:not(:hover) {
        .remote-signal {
            transition: 0.3s ease-in-out;
        }

        transition: 0.3s;
    }
}




.arrow-right {
    cursor: pointer;
    position: absolute;
    left: 900px !important;
    top: 752px !important;
    width: 107px;
    height: 30px;

    &:hover {
        transition: 0.3s;
        transform: scale(1.2);
        filter: brightness(5);
    }

    &:not(:hover) {
        transition: 0.3s;
        transform: scale(1.0);
        filter: brightness(1);
    }
}

#whyMe {
    position: absolute;
    top: 0;
    left: -140px;
}

@media only screen and (max-width: 800px) {
    #whyMe {
        position: relative;
        top: -78px;
    }

    .arrow-right {
        display: none;
    }

    .content-wrapper {
        display: flex;
        gap: 10px;
        flex-direction: column;
        position: relative;
        width: 100%;
        overflow-x: hidden;
        height: max-content;
        left: 0;
        right: 0;
        top: 0;

        >.headline {
            position: relative;
            top: 0;
            left: 24px;
            display: flex;
            font-weight: 700;
            font-size: 32px;
            -webkit-text-stroke: 1px #B5E93B;
            color: transparent;
            transform: translateX(0) translateY(0) rotate(0deg);
        }

        >.content-column {
            position: relative;
            gap: 24px;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100vw;
            height: 505px;
            top: 0;
            overflow-y: visible;

            .button-positioner {
                position: relative;
                display: flex;
                width: 90%;
                justify-content: flex-end;

                >.contact-me {
                    display: none;
                }
            }

            >span {
                font-family: 'Quantico';
                font-weight: 400;
                font-size: 16px;
                color: #FFFDFD;
                text-align: justify;
                width: 100%;
            }

            >.content-bottom {
                display: flex;
                flex-direction: column;
                align-items: center;
                left: 0;
                position: relative;
                
                >span {
                    font-size: 32px;
                }

                >.content-bottom-row {

                    top: 160px;
                    flex-direction: column-reverse;
                    align-items: center;
                    width: 100%;
                    left: 0;
                    gap: 24px;

                    >.content-row-column {
                        gap: 10px;
                    }

                }
            }
        }

        #text {
            width: 80%;
            text-align: left;
            position: relative;
            left: 24px;
        }

        #location {
            display: none;
        }

        #openRelocate {
            display: flex;
        }
    }



}