<div class="content-wrapper" id="whyMe">
    <div class="headline">Why me</div>
    <div class="content-column">
        <span id="text">
            I am motivated to continuously
            learn new technologies and develop myself. 
            My ability to solve complex problems and my passion for
            programming make me a valuable member of your team.
        </span>
        <div class="content-bottom">
            <span>I am</span>
            <div class="content-bottom-row" >
                <div class="content-row-column" id="location">
                    <div class="located">
                        <img src="../../../assets/img/ellipse.png" class="location-elipse">
                    </div>
                    <span>located in Niederkassel</span>
                </div>
                <div class="content-row-column" id="openRemote">
                    <div class="remote">
                        <img src="../../../assets/img/signal.png" class="remote-signal">
                    </div>
                    <span class="open-remote">open to work remote</span>
                </div>
                <div class="content-row-column" id="openRelocate">
                    <div class="relocate">
                    </div>
                    <span>open to relocate</span>
                </div>
            </div>
            <a href="https://google.de" target="_blank" class="contact-me">Contact me</a>
        </div>
    </div>
</div>
<a href="#mySkills" style="scroll-behavior: smooth;"><img src="../../../assets/img/arrowright.png" class="arrow-right"></a>