<div id="myWork"></div>
<div id="project3"></div>
<div class="content-wrapper">
    <div class="headline">{{ 'myWork' | translate }}</div>
    <div class="projects" data-aos="fade-up" data-aos-duration="200">
        <div *ngFor="let project of projectlist | keyvalue: sortById" class="project-wrapper">

            <div class="project-headline" data-aos="fade-left" data-aos-duration="200" [attr.data-aos-delay]="project.value.id * 200">
                <div class="project-number">{{ project.value.id }}</div>
                <div class="project-name">{{ project.key }}</div>
            </div>

            <div class="project-description" data-aos="zoom-in" data-aos-duration="200" [attr.data-aos-delay]="project.value.id * 200">
                <div class="image-wrapper">
                    <img src="../../../assets/img/Projects/{{ project.value.id }}.png" alt="">
                    <div class="button-row">
                        <a [href]="project.value.github" target="_blank" class="github-btn">GitHub</a>
                        <a [href]="project.value.link" target="_blank" class="livetest-btn">Live Test</a>
                    </div>
                </div>
                <div class="column">
                    <div class="subtitle-headline">
                        <img src="../../../assets/img/ellipseprojects.png" class="ellipse">
                        <h3>{{ 'aboutTheProject' | translate }}</h3>
                    </div>
                    <span>{{ project.value.description }}</span>
                    <div class="subtitle-headline">
                        <img src="../../../assets/img/ellipseprojects.png" class="ellipse">
                        <h3>{{ 'technologies' | translate }}</h3>
                    </div>
                    <span>{{ project.value.technologies }}</span>
                    <div class="subtitle-headline">
                        <img src="../../../assets/img/ellipseprojects.png" class="ellipse">
                        <h3>{{ 'learned' | translate }}</h3>
                    </div>
                    <span>{{ project.value.notes }}</span>
                </div>
            </div>
        </div>
        <div id="ongoingProject">
            <div id="ogpHeadline">
                <div id="ogpNumber">4</div>
                <div id="ogpTitle">{{ 'ongoingProject' | translate }}</div>
            </div>
            <div id="ogptext">
                {{ 'ongoingProjectText' | translate }}
            </div>
            <div id="letsTalk">
                <a (click)="scrollToElement('contactMe')" id="contactBtn">{{ 'letsTalk' | translate }}</a>
            </div>
            <a (click)="scrollToElement('references')" style="scroll-behavior: smooth;"><img src="../../../assets/img/arrowright.png" class="arrow-right"></a>
        </div>
    </div>
      <div class="projects-mobile">
        <div *ngFor="let project of projectlist | keyvalue: sortById" class="project-wrapper">
            <div class="for-show-me-less">
                <!-- Projektüberschrift -->
                <div class="project-headline" (click)="toggleMobileProject(project.value.id)">
                    <div class="project-number">{{ project.value.id }}</div>
                    <div class="project-name">{{ project.key }}</div>
                </div>
    
                <!-- Projektbeschreibung: Sichtbarkeit steuern -->
                <div 
                    class="project-description" 
                    [@toggleDescription]="expandedMobileProjectId === project.value.id ? 'expanded' : 'collapsed'">
                    
                    <div class="column">
                        <div class="subtitle-headline">
                            <img src="../../../assets/img/ellipseprojects.png" class="ellipse">
                            <h3>{{ 'aboutTheProject' | translate }}</h3>
                        </div>
                        <span>{{ project.value.description }}</span>
                        <div class="subtitle-headline">
                            <img src="../../../assets/img/ellipseprojects.png" class="ellipse">
                            <h3>{{ 'technologies' | translate }}</h3>
                        </div>
                        <span>{{ project.value.technologies }}</span>
                        <div class="subtitle-headline">
                            <img src="../../../assets/img/ellipseprojects.png" class="ellipse">
                            <h3>{{ 'learned' | translate }}</h3>
                        </div>
                        <span>{{ project.value.notes }}</span>
                    </div>
                    <div class="image-wrapper">
                        <img src="../../../assets/img/Projects/{{ project.value.id }}.png" alt="Project Image">
                        <div class="button-row">
                            <a [href]="project.value.github" target="_blank" class="github-btn">GitHub</a>
                            <a [href]="project.value.link" target="_blank" class="livetest-btn">Live Test</a>
                        </div>
                    </div>
                </div>
    
                <!-- Collapse-Bereich -->
                <div 
                    class="collapse-mobile" 
                    (click)="toggleMobileProject(project.value.id)">
                    {{ getToggleText(project.value.id) }}
                </div>
            </div>
        </div>

        <div id="ongoingProjectMobile">
            <div id="ogpHeadlineMobile" class="project-headline">
                <div id="ogpNumberMobile" class="project-number">4</div>
                <div id="ogpTitleMobile" class="project-name">{{ 'ongoingProject' | translate }}</div>
            </div>
            <div id="ogptextMobile">
                {{ 'ongoingProjectText' | translate }}
            </div>
            <div id="letsTalkMobile">
                <a (click)="scrollToElement('contactMe')" id="contactBtnMobile">Let's talk</a>
            </div>
            
        </div>
    </div>

</div>
<a (click)="scrollToElement('project3')" style="scroll-behavior: smooth;"><img src="../../../assets/img/arrowright.png" class="arrow-right-center"></a>
