<div id="landing"></div>
<div class="landing-page">
    <img src="../../assets/img/mainpicture.png">
    <div class="name-text animate-name">{{ 'name' | translate }}</div>
    <div class="job-title-text animate-job">{{ 'job' | translate }}</div>
    <div class="job-title-text-mobile animate-job"><h4>{{ 'jobCaps' | translate }}</h4></div>
    <div class="name-text-mobile animate-name"><h3>{{ 'name' | translate }}</h3></div>
    <div class="city-text-mobile animate-city">{{ 'town' | translate }}</div>
    <a (click)="scrollToElement('whyMe')" style="scroll-behavior: smooth;"><img src="../../assets/img/arrowright.png" class="arrow-right"></a>
</div>
