<div id="landing"></div>
<div class="landing-page">
    <img src="../../assets/img/mainpicture.png">
    <div class="name-text">David Kolosza</div>
    <div class="job-title-text">Frontend Developer</div>
    <div class="job-title-text-mobile"><h4>FRONTEND DEVELOPER</h4></div>
    <div class="name-text-mobile"><h3>David Kolosza</h3></div>
    <div class="city-text-mobile">Niederkassel</div>
    <a href="#whyMe" style="scroll-behavior: smooth;"><img src="../../assets/img/arrowright.png" class="arrow-right"></a>
</div>