<div id="burgerNClose" [class.open]="isMenuOpen" (click)="toggleMenu()"></div>
<div class="navbar">
    <div class="navbar-content">
        <a (click)="scrollToElement('landing')">
            <img src="../../assets/img/LogoDK.png" class="logo-desktop">
        </a>
        <div class="navbar-text-wrapper">
            <a (click)="scrollToElement('contactMe')">Contact</a>
            <a (click)="scrollToElement('myWork')">My Work</a>
            <a (click)="scrollToElement('mySkills')">Skills</a>
            <a (click)="scrollToElement('whyMe')">Why me</a>
        </div>
    </div>
</div>

<div class="navbar-mobile-overlay" [class.open]="isMenuOpen">
    <div class="navbar-wrapper">
        <a (click)="scrollToElement('whyMe')">Why me</a>
        <a (click)="scrollToElement('mySkills')">My Skill Set</a>
        <a (click)="scrollToElement('myWork')">My Work</a>
        <a (click)="scrollToElement('contactMe')">Contact me</a>
        <div class="languages">
            <p (click)="changeLanguage('en')">EN</p><p>|</p>
            <p (click)="changeLanguage('de')">DE</p><p *ngIf="contactMeUsed">|</p>
            <p (click)="changeLanguage('lol')" *ngIf="contactMeUsed">LOL</p>
        </div>
    </div>
</div>

<div class="navbar-mobile">
    <div class="navbar-content-mobile">
        <a (click)="scrollToElement('landing')">
            <img src="../../assets/img/LogoDK.png" class="logo-mobile" />
        </a>
    </div>
</div>