.navbar-mobile-overlay {
    display: none;
}

.navbar {
    display: flex;
    width: 172px;
    color: black;
    height: 100vh;
    background-color: #B5E93B;
    top: 0;
    bottom: 0;
    position: fixed;
    max-height: 100vh;
    z-index: 999;

    >.logo-mobile {
        display: none;
    }

    >.navbar-content {
        display: flex;
        max-height: 900px;
        flex-direction: column;
        align-items: center;
        width: 100%;

        >.navbar-text-wrapper {
            position: relative;
            top: 336px;
            display: flex;
            flex-direction: row;
            transform: rotate(270deg);
            gap: 36px;
            width: 554px;
        }
    }
}

.navbar-mobile {
    display: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Quantico';
    font-size: 30px;
    cursor: pointer;

    &:hover {
        color: white;
        transition: 0.3s ease-in-out;
    }

    &:not(:hover) {
        transition: 0.3s ease-in-out;
    }

    >img {
        cursor: pointer;
        align-items: center;
        top: 32px;
        width: 129.45px;
        height: auto;
        position: relative;

        &:hover {
            transition: 0.3s ease-in-out;
            transform: scale(1.05);
            filter: invert(100%);
        }

        &:not(:hover) {
            transition: 1s ease-in-out;
            transform: scale(1.0);
        }
    }
}
#burgerNClose{
    display: none;
}
@media only screen and (orientation:portrait) {
    #burgerNClose {
        background-image: url(../../../../assets/img/burgermenu.png); // Standard Burger-Icon
        background-size: cover;
        z-index: 999 !important;
        display: flex;
        width: 30px;
        height: 32px;
        right: 16px;
        top: 17px;
        position: fixed;
        cursor: pointer;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; // Smooth transition

        &.cancel {
            background-image: url(../../../../assets/img/burgermenu.png); // Cancel-Icon
            transform: rotate(90deg); // Optional Animation für Wechsel
        }
        &.open {
            background-image: url(../../../../assets/img/escape.png); // Cancel-Icon
            transform: rotate(90deg); // Optional Animation für Wechsel
        }
    }
    
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        height: 78px;
        width: 100%;
        max-width: 100vw;
        background-color: #B5E93B;
        position: fixed;
        z-index: 900;
        align-items: center;

        .navbar-content-mobile {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            z-index: 900;

            a {
                img {
                    display: flex;
                    top: 0 !important;
                }

                .logo-mobile {
                    display: flex;
                    width: 60px;
                    height: auto;
                    z-index: 990;
                    left: 16px;
                }
            }
        }
    }

.navbar-mobile-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0; // Startzustand: Keine Höhe
    overflow: hidden; // Verhindert das Anzeigen von Inhalten, bevor die Animation abgeschlossen ist
    z-index: 998;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba(181, 233, 59, 1) 0%,
      rgba(84, 120, 0, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 0; // Unsichtbar im Standardzustand
    transition: height 0.5s ease-out, opacity 0.3s ease-in-out; // Animationsübergänge
  
    &.open {
      height: 350px; // Zielzustand: Volle Höhe
      opacity: 1 !important; // Sichtbar
    }
  
    .navbar-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 24px;
      padding: 20px;
  
      a {
        font-size: 18px;
        color: black;
      }
      >.languages{
        display: flex;
        gap: 8px;
        font-family: 'Quantico';
        color: black;
      }
    }
  }
  
}
