<div class="navbar">
    <div class="navbar-content">
        <a (click)="scrollToElement('landing')"><img src="../../assets/img/LogoDK.png" class="logo-desktop"></a>
        <div class="navbar-text-wrapper">
            <a (click)="scrollToElement('contactMe')">Contact</a>
            <a (click)="scrollToElement('myWork')">My Work</a>
            <a (click)="scrollToElement('mySkills')">Skills</a>
            <a (click)="scrollToElement('whyMe')">Why me</a>
        </div>
    </div>
</div>
<div class="navbar-mobile">
    <div class="navbar-content-mobile">
        <a (click)="scrollToElement('landing')"><img src="../../assets/img/LogoDK.png" class="logo-mobile"></a>
        <a (click)="scrollToElement('#')"><img src="../../assets/img/burgermenu.png" class="burger-menu-mobile"></a>
    </div>
</div>