<div class="content-wrapper" id="mySkills">
    <div class="headline">My Skill Set</div>
    <div class="content-column">
        <span id="mySkillsText">
            The IT landscape is continuously evolving, 
            with new technologies and methodologies.
            Staying motivated to expand my IT skills 
            requires a strategic approach, a curious mindset, 
            and a commitment to lifelong learning.
        </span>
        <div class="logo-box">
            <div class="logo-with-text" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11]; let index = index">
                <img [ngStyle]="{'left.px': index * 128}" class="logo" src="../../../assets/img/mySkillSet/{{i}}.png">
                <span>{{logoTexts[index]}}</span>
            </div>
        </div>
        <div id="newTechnoText">
            I am always happy to learn new technonogies,
            just tell me what you need.</div>
    </div>
    
</div>
<a href="#" style="scroll-behavior: smooth;"><img src="../../../assets/img/arrowright.png" class="arrow-right"></a>

