.content-wrapper {
    display: flex;
    position: relative;
    width: 931px;
    height: 359px;
    top: 461px;
    left: 59px;
    font-family: 'Quantico';
    .lets-talk{
        display: none;
    }
    >.headline {
        position: absolute;
        width: 303px;
        height: 65px;
        display: flex;
        font-size: 54px;
        -webkit-text-stroke: 3px #B5E93B;
        color: transparent;
        transform: translateX(-44%) translateY(132%) rotate(-90deg);
    }

    >.content-column {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -36px;
        width: 860px;
        left: 101px;
        justify-content: space-between;
        >.logo-box-2-mobile {
            display: none;
            }
        >.animate-on-scroll {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.6s ease-out, transform 0.6s ease-out;
          }
          
        >.aos-animate {
            opacity: 1;
            transform: translateY(0);
          }
        >#mySkillsText {
            position: relative;
            color: #FFFDFD;
            width: 860px;
            height: 66px;
            font-size: 18px;
            text-align: justify;
            font-weight: 400;
            text-wrap: wrap;
        }

        >.logo-box {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 44px;
            width: 860px;
            height: 249px;
            >.logo-with-text {
                display: flex;
                flex-direction: column;
                align-items: center;

                color: #FFFDFD;


                &:hover {
                    .logo {
                        filter: drop-shadow(0px 0px 10px rgba(181, 233, 59, 0.5));
                    }
                }
                >.logo-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 86px;
                    height: 90px;
                    gap: 12px;
                    opacity: 0;
                    >.logo {
                        height: 60px;
    
                    }
    
                    >span {
                        cursor: default;
                        display: flex;
                        align-items: center;
                        text-wrap: wrap;
                        text-align: center;
                    }
                }
                
            }
        }

        >#newTechnoText {
            display: flex;
            bottom: 0;
            right: 0;
            position: absolute;
            width: 215px;
            height: 88px;
            font-size: 18px;
            color: #FFFDFD;
            text-wrap: wrap;
            opacity: 0;
        }
    }

}


.arrow-right {
    cursor: pointer;
    position: absolute;
    left: 1080px !important;
    top: 500px !important;
    width: 107px;
    height: 30px;

    &:hover {
        transition: 0.3s;
        transform: scale(1.2);
        filter: brightness(5);
    }

    &:not(:hover) {
        transition: 0.3s;
        transform: scale(1.0);
        filter: brightness(1);
    }
}

.arrow-left {
    cursor: pointer;
    position: absolute;
    left: 960px !important;
    top: 500px !important;
    width: 107px;
    height: 30px;
    transform: scaleX(-1); /* Bild horizontal spiegeln */

    &:hover {
        transition: 0.3s;
        transform: scaleX(-1) scale(1.2); /* Behalte das Spiegeln bei */
        filter: brightness(5);
    }

    &:not(:hover) {
        transition: 0.3s;
        transform: scaleX(-1) scale(1.0); /* Behalte das Spiegeln bei */
        filter: brightness(1);
    }
}

.logo-with-text-mobile {
    display: none;
}

#mySkills {
    position: absolute;
    top: 0;
    left: -140px;
}

.contact-me{
    display: none;
}

#newTechnoTextMobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    #mySkills {
        position: relative;
        top: -78px;
    }
    .arrow-right {
        display: none;
    }

    .content-wrapper {
        width: 100%;
        height: min-content;
        min-height: max-content;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        >.headline {
            position: relative;
            margin-left: 45px;
            width: 100%;
            justify-content: flex-start;
            top: 0;
            height: 38px;
            display: flex;
            font-size: 32px;
            -webkit-text-stroke: 1px #B5E93B;
            color: transparent;
            transform: translateX(-0%) translateY(0%) rotate(0deg);
        }

        >.content-column {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 0;
            width: 100%;
            left: 0;
            gap: 10px;

            >#mySkillsText {
                position: relative;
                color: #FFFDFD;
                width: fit-content;
                height: 66px;
                font-size: 16px;
                text-align: justify;
                font-weight: 400;
                text-wrap: wrap;
                margin-left: 24px;
                margin-right: 24px;
            }

            >#newTechnoText {
                display: none;
            }

            >#newTechnoTextMobile {
                display: flex;
                margin-left: 27px;
                margin-right: 27px;
                text-align: justify;
                bottom: 0;
                right: 0;
                top: 160px;
                position: relative;
                width: fit-content;
                height: 63px;
                font-size: 16px;
                font-weight: 400;
                color: #FFFDFD;
                text-wrap: wrap;
            }

            >.logo-box {
                position: relative;
                top: 88px;
                margin: auto auto;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(17%, 1fr));
                grid-template-rows: auto auto;
                row-gap: 32px;
                width: 82%;
                >.logo-with-text {
                    display: none;
                }

                >.logo-with-text-mobile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #FFFDFD;
                    height: fit-content;
                    >#group11{
                        flex-direction: column;
                        gap: 10px;
                        >img{
                            max-width: 45.766px;
                        }
                    }
                    >.hauptgruppe {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 45px;

                        >.logo {
                            height: 45px;
                            width: min-content;
                        }

                        >.hide-mobile {
                            display: none;
                        }

                        >span {
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            font-weight: 400;
                            text-wrap: nowrap;
                            font-family: 'RobotoMono';
                        }
                    }
                }



            }

            >.logo-box-2-mobile {
                position: relative;
                top: 88px;
                display: flex;
                width: 100%;
                margin-left: 29px;

                >.logo-with-text-mobile-2nd-area {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: unset !important;
                    color: #FFFDFD;
                    height: fit-content;

                    >.logo-with-text {
                        display: none;
                    }

                    >.logo {
                        height: 45px;
                        width: min-content;
                    }

                    >.hide-mobile {
                        display: none;
                    }



                    >span {
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 400;
                        text-wrap: nowrap;
                        font-family: 'RobotoMono';
                    }
                }
                >.absolute-center {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    width: 82%;
                    gap: 8px;
                    }
            }
        }



    }
    .lets-talk{
        cursor: pointer;
        position: relative;
        top: 164px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #B5E93B;
        width: 122px;
        height: 43px;
        border-radius: 30px;
        font-family: 'Quantico';
        font-size: 14px;
        color: black;
        text-decoration: none;
        z-index: 1;
    }

    

}

// Animation Section


.animate-on-scroll{
    opacity: 0;
}


@keyframes slide-down-normal {0% { transform: translateY(100px); opacity: 0;} 100% { transform: translateY(0px); opacity: 100%;} }

.aos-animate { 
    animation: slide-down-normal 1s ease-out 500ms 1 normal forwards; 
}

@keyframes fade-in-normal {0% { opacity: 0; } 100% { opacity: 1;} }

.fade-in-normal-logo1 { 
    animation: fade-in-normal 2s ease-out 300ms 1 normal forwards; 
}

.fade-in-normal-logo2 { 
    animation: fade-in-normal 2s ease-out 600ms 1 normal forwards; 
}
.fade-in-normal-logo3 { 
    animation: fade-in-normal 2s ease-out 900ms 1 normal forwards; 
}
.fade-in-normal-logo4 { 
    animation: fade-in-normal 2s ease-out 1200ms 1 normal forwards; 
}
.fade-in-normal-logo5 { 
    animation: fade-in-normal 2s ease-out 1500ms 1 normal forwards; 
}
.fade-in-normal-logo6 { 
    animation: fade-in-normal 2s ease-out 1800ms 1 normal forwards; 
}
.fade-in-normal-logo7 { 
    animation: fade-in-normal 2s ease-out 2100ms 1 normal forwards; 
}
.fade-in-normal-logo8 { 
    animation: fade-in-normal 2s ease-out 2400ms 1 normal forwards; 
}
.fade-in-normal-logo9 { 
    animation: fade-in-normal 2s ease-out 2700ms 1 normal forwards; 
}
.fade-in-normal-logo10 { 
    animation: fade-in-normal 2s ease-out 3000ms 1 normal forwards; 
}
.fade-in-normal-logo11 { 
    animation: fade-in-normal 2s ease-out 3300ms 1 normal forwards; 
}

.fade-in-normal-text { 
    animation: fade-in-normal 3s ease-in-out 3600ms 1 normal forwards; 
}
