app-contentrow {
    display: flex;
    width: 9259px;
    height: 100vh;
    max-height: 95%;
}

@media only screen and (orientation:portrait) {
    app-contentrow {
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        height: auto;
        position: sticky;
        gap: 40px;
        background-color: black;
    }
}