<app-navbar
[languages]="languages"
  (languageChange)="changeLanguage($event)" [contactMeUsed]="contactMeUsed"></app-navbar>
<app-header
  [languages]="languages"
  (languageChange)="changeLanguage($event)" [contactMeUsed]="contactMeUsed">
</app-header>

<!-- <app-contentrow (contactMeUsedChange)="updateContactMeUsed($event)" routerLink="/" routerLinkActive="active"></app-contentrow> -->
<!-- <app-imprint routerLink="/imprint" routerLinkActive="active"></app-imprint>
<app-privacy routerLink="/privacy" routerLinkActive="active"></app-privacy> -->
<router-outlet></router-outlet>
