<div class="content-scroller">
    <div class="home">
        <img src="../../assets/img/home.png" alt="" routerLink="/">
    </div>
    <h1>{{ 'imprint.imprint' | translate}}</h1>

    <p>David Kolosza<br />
        Hauptstra&szlig;e 43<br />
        53859 Niederkassel<br />
        {{ 'germany' | translate }}</p>

    <h2>{{ 'imprint.contact' | translate}}</h2>
    <p>{{ 'imprint.mailto' | translate}} <a target="_blank" href="mailto:kontakt@david-kolosza.de">kontakt&#64;david-kolosza.de</a></p>
    <p>{{ 'imprint.source' | translate}}: <a target="_blank" href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</div>
