.content-scroller {
    position: relative;
    left: 200px;
    text-wrap: wrap;
    width: 60vw;
    height: 100vh;
    overflow: scroll;
    color: white;

    >p {
        >a {
            color: #b5e93b;
        }
    }
}

@media only screen and (max-width: 800px) {

    .content-scroller {
        top: 0;
        left: 16px;
        min-width: 90%;
        justify-content: center;
        align-items: left;
    }

}