<div class="content-scroller">
    <div class="home">
        <img src="../../assets/img/home.png" alt="" routerLink="/">
    </div>
<h1>{{ 'privacy.privacy' | translate}}</h1>
<h2>{{ 'privacy.headline1' | translate}}</h2>
<h3>{{ 'privacy.headline2' | translate}}</h3>
<p>
{{ 'privacy.para1' | translate}}
</p>
<h3>{{ 'privacy.headline3' | translate}}</h3>
<h4>{{ 'privacy.headline4' | translate}}</h4>
<p>
{{ 'privacy.para2' | translate}}
</p>
<h4>{{ 'privacy.headline5' | translate}}</h4>
<p>{{ 'privacy.para12' | translate}}</p>

<p>
{{ 'privacy.para3' | translate}}
</p>
<p>
{{ 'privacy.para4' | translate}}
</p>
<h4>{{ 'privacy.headline6' | translate}}</h4>
<p>
{{ 'privacy.para5' | translate}}
</p>


<h4>{{ 'privacy.headline7' | translate}}</h4>
<p>
<p>
    {{ 'privacy.para6' | translate}}
</p> 
<p>
    {{ 'privacy.para7' | translate}}
</p> 
<h2>{{ 'privacy.headline8' | translate}}</h2> 
<p>
    {{ 'privacy.para8' | translate}}
</p> 
<p>
<strong>All-Inkl</strong><br>    {{ 'privacy.para9' | translate}}
<a href="https://all-inkl.com/datenschutzinformationen/" target="_blank">https://all-inkl.com/datenschutzinformationen/</a>.
</p> 
<p>{{ 'privacy.para10' | translate}}
</p> 
<h4>{{ 'privacy.headline9' | translate}}</h4> 
<p>{{ 'privacy.para11' | translate}}
</p>

