body {
    margin: 0;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: scroll; /* Erlaubt horizontales Scrollen */
    overflow-y: hidden; /* Verhindert vertikales Scrollen */
    white-space: nowrap; 
    font-family: 'Quantico';
  }

.d-none{
    display: none;
}

::-webkit-scrollbar {
    display: none;
    background: none;
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    background: #b5e93b;
    border-radius: 10px;
    border: 2px solid black;
}
::-webkit-scrollbar-track {
    background: transparent;
    background-color: transparent;
}

.fontQuantico {
    font-family: 'Quantico';
}

@font-face {
    font-display: swap;
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Quantico-Regular.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Quantico';
    font-style: bold;
    font-weight: 700;
    src: url('./assets/fonts/Quantico-Bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'RobotoMono';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

@media only screen and (max-width: 800px) {
    ::-webkit-scrollbar {
        display: none;
    }
    body{
        height: auto;
        overflow-y: scroll;
    }

}