.background {
    display: flex;
    background: rgb(181, 233, 59);
    background: linear-gradient(180deg, rgba(181, 233, 59, 1) 0%, rgba(84, 120, 0, 1) 100%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
    width: 100px;
    right: 0;
    top: 0;

    >.footer-wrapper {
        display: none;
    }
}

@media only screen and (orientation:portrait) {
    .background {
        display: flex;
        background: rgb(181, 233, 59);
        background: linear-gradient(180deg, rgba(181, 233, 59, 1) 0%, rgba(84, 120, 0, 1) 100%, rgba(0, 212, 255, 1) 100%);
        height: 153px;
        width: 100%;
        right: 0;
        top: 0;
        z-index: 20;
        font-family: 'Quantico';
        color: #4A4A4A;
        >.footer-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            top: 71px;
            width: 100%;
            >.footer-bot-lane{
                display: flex;
                gap: 16px;
            }
            >img {
                height: auto;
                width: 80px;
                position: relative;
                // Optional: Farbtöne anpassen
                filter: brightness(50%);
                -webkit-filter: brightness(60%);
            }
        }
    }
}